div {
  padding: 1px;
}

.img {
  width: 700px;
  height: 500px;
  object-fit: cover;
  overflow: hidden;
  object-fit: cover;
  border-radius: 20px;
}

.name {
  font-size: 26px;
  padding-bottom: 10px;
  font-weight: 600;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

.star {
  display: flex;
  padding-bottom: 20px;
  border-bottom: 1px solid lightgrey;
  margin-bottom: 20px;
}

.rating {
  text-indent: 5px;
}

.lower_container {
  display: flex;
  flex-direction: column;
  width: 680px;
}

.details {
  margin-top: 20px;
}

.first_name {
  font-size: 24px;
  font-weight: 600;
  padding-bottom: 10px;
}

.location {
  padding-left: 25px;
}

.description {
  padding-bottom: 15px;
  border-bottom: 1px solid lightgrey;
  margin-bottom: 20px;
}

.link {
  text-decoration: none;
  color: #484848;
}

.button {
  background: transparent;
  height: 40px;
  width: 160px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 20px;
  border: 1px solid rgb(170, 163, 163);
}

.button:hover {
  background-color: rgb(241, 239, 239);
}

.button_container {
  display: flex;
  justify-content: space-evenly;
  border-bottom: 1px solid lightgrey;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.outer {
  display: flex;
  justify-content: space-between;
}

.price {
  width: 40%;
  height: 300px;
  box-sizing: border-box;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 12px;
  padding: 24px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.details_list {
  width: 50%;
  padding-left: 18px;
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
  justify-content: space-around;
}

.bold {
  font-weight: 900;
  font-size: 18px;
}

/* * {
  font-weight: 300;
} */

.text {
  display: flex;
  justify-content: space-between;
}

#bar {
  border-top: 1px solid lightgrey;
  padding-top: 20px;
}
