.container {
  padding-bottom: 15px;
  padding-top: 15px;
  border-radius: 20px;
}

.container:hover {
  background-color: rgb(245, 239, 239);
}

.img {
  height: 240px;
  width: 300px;
  object-fit: cover;
  border-radius: 20px;
}

.link {
  text-decoration: none;
}

.text {
  display: flex;
  justify-content: space-between;
  font-weight: 600;
}

.price {
  font-weight: 200;
}
