/* TODO Add site wide styles */
@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap");

* {
  font-family: "Montserrat", sans-serif;
  color: #484848;
  /* font-weight: 600; */
}

button {
  border: none;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius: 12px;
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #ff5a5f;
  color: white;
}

button:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

input {
  background-color: white;
}

li {
  list-style: none;
  color: red;
  font-weight: 300;
  font-size: 14px;
}
