form {
  display: flex;
  flex-direction: column;
  height: 600px;
  width: 400px;
  align-items: center;
  justify-content: center;
  margin: 10px auto;
  padding: 16px;
  background: #f7f7f7;
  border-radius: 8px;
}

form input {
  background-color: white;
  height: 50px;
  width: 400px;
  outline: none;
  box-sizing: border-box;
  border-radius: 15px;
  border: 1px solid #484848;
  margin-bottom: 10px;
  text-indent: 10px;
}

form input:hover {
  background-color: rgb(245, 239, 239);
}

form button {
  width: 300px;
  background-color: #ff5a5f;
  color: white;
}

.welcome_container {
  width: 390px;
  border-bottom: 1px solid rgb(116, 114, 114);
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}
