.info {
  /* border: 1px solid lightgrey; */
  height: 100%;
  width: 100%;
  margin-bottom: 10px;
  padding-top: 10px;
}

.outer {
  /* border: 1px solid grey; */
  display: flex;
  justify-content: center;
  margin-top: 14px;
}

.star {
  display: flex;
}

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.bold {
  font-weight: 900;
  font-size: 16px;
  padding-bottom: 8px;
}

.light {
  font-weight: 400;
  font-size: 16px;
  padding-bottom: 5px;
}

.number {
  display: flex;
  margin-top: 20px;
  padding-left: 18px;
  font-weight: 900;
  font-size: 20px;
}

.rating {
  padding-left: 10px;
}
